@model NoteApi__.NET_.Entities.Note

<div class="container my-4">
    <h1 class="text-center text-danger">Delete Note</h1>
    <h4 class="text-center">Are you sure you want to delete this note?</h4>
    <dl class="row mt-4">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9 title-wrap">@Model.Title</dd>
        <dt class="col-sm-3">Content</dt>
        <dd class="col-sm-9 content-wrap">@Model.Content</dd>
        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9">@Model.CreatedAt</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>

