@model NoteApi__.NET_.Entities.Note

<div class="container my-4">
    <h1 class="text-center">Note Details</h1>
    <dl class="row mt-4">
        <dt class="col-sm-3">Title</dt>
        <dd class="col-sm-9 title-wrap">@Model.Title</dd>
        <dt class="col-sm-3">Content</dt>
        <dd class="col-sm-9 content-wrap">@Model.Content</dd>
        <dt class="col-sm-3">Created At</dt>
        <dd class="col-sm-9">@Model.CreatedAt</dd>
    </dl>
    <div class="d-flex justify-content-between">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

